body {
    background-image: url(http://www.pizzataxi-aschaffenburg.de/web/pics/1.jpg);
    text-align: center;
}

.white {
    color: white;
}

.content {
    float: left;
    width: 60%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.roundedCorners {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}

.margintopbottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.img {
    width: 250px;
}


.background {
    background-color:rgba(0, 0, 0, 0.75);
}

.header h1 {
    padding-top: 50px;
    font-size: 60px;
    font-weight: boid;
    font-family: Courier;
}

.wahrenkorb { 
    width: 100%;
    margin: 0 auto;
}

@media only screen and (min-width: 1015px) {
    .webseite {
        width: 980px;
        margin: 0 auto;
    }
    .header {
        width: 980;
        height: 150px;
    }
    .main {
        width: 980px;
        display: flex;
    }
    .menue {
        float: left;
        width: 200px;
        margin-top: 5px;
        margin-right: 5px;
    }
    .inhalt {
        float: right;
        width: 775px;
        margin-top: 5px;
    }
    .footer {
        width: 980px;
        height: 50px;
        margin-top: 5px;
        clear: both;
    }    
    .form-control {
        display: inline-block;
        text-align: center;
        width: 32%;
        font-size: 14px;
        line-height: 1.5;
        color: black;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }
    .pizza-width {
        width: 33%;
    }
}

@media only screen and (max-width: 1015px) {
    .webseite {
        width: 653px;
        margin: 0 auto;
    }
    .header {
        width: 653px;
        height: 150px;
    }
    .main {
        width: 653px;
        display: flex;
    }
    .menue {
        float: left;
        width: 133px;
        margin-top: 5px;
        margin-right: 5px;
    }
    .inhalt {
        float: right;
        width: 517px;
        margin-top: 5px;
    }
    .footer {
        width: 653px;
        height: 50px;
        margin-top: 5px;
        clear: both;
    }
    .form-control {
        display: inline-block;
        text-align: center;
        width: 47%;
        font-size: 14px;
        line-height: 1.5;
        color: black;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }
    .pizza-width {
        width: 50%;
    }
}

@media only screen and (max-width: 690px) {
    .webseite {
        width: 400px;
        margin: 0 auto;
    }
    .header {
        width: 400px;
        height: 150px;
    }
    .main {
        width: 400px;
        display: flex;
    }
    .menue {
        float: left;
        width: 85px;
        margin-top: 5px;
        margin-right: 5px;
    }
    .inhalt {
        float: right;
        width: 310px;
        margin-top: 5px;
    }
    .footer {
        width: 400px;
        height: 50px;
        margin-top: 5px;
        clear: both;
    }
    .form-control {
        display: inline-block;
        text-align: center;
        width: 79%;
        font-size: 14px;
        line-height: 1.5;
        color: black;
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 5px;
    }
    .pizza-width {
        width: 100%;
    }    
}